// A new variable should be created only when all of the following criteria are met:
// the value is repeated at least twice;
// the value is likely to be updated at least once;
// all occurrences of the value are tied to the variable (i.e. not by coincidence).

/// grid system
$breakpoints: (
    'small': 425px,
    'medium': 768px,
    'large': 1024px,
    'huge': 1200px
);
$cols: 12;

/// fonts
$fontsMain: 'Lora', serif;


/// sizes
$minHeight: 150px;
$space: 10px;


/// colours
$redMedium: #bc3428;
$redLight: #c7372a;
$redDark: #b13125;
$redMiddle: #bc3428;
$redMain: #d33a2c;
$bg: #f6f3f2;
$green: #009245;
$linkColour: #006fc6;