// button in header

.btn {
    font-size: 20px;
    color: white;
    margin: auto;
    background: transparent;
    border: 3px solid white;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px 5px 5px 5px;
    font-weight: bold;
    width: 110px;
}

.explore-btn {
    background: $bg;
    padding: 15px 5px;
    width: 200px;
    margin-top: $space * 5;
    background: $white;
}

.explore{
    color: #006fc6;
    text-decoration: none;
}