@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav_menu_icon img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  max-width: 30px; }

.nav_menu_icon img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.left-top img,
.persons_photo img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg); }

.left-top img:hover,
.persons_photo img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.first_person img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg); }

.first_person img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.book-right img {
  height: 400px;
  width: 250px;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  padding-bottom: 30px; }

.book-right img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.btn {
  font-size: 20px;
  color: white;
  margin: auto;
  background: transparent;
  border: 3px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 5px 5px 5px;
  font-weight: bold;
  width: 110px; }

.explore-btn {
  background: #f6f3f2;
  padding: 15px 5px;
  width: 200px;
  margin-top: 50px;
  background: #fff; }

.explore {
  color: #006fc6;
  text-decoration: none; }

a,
span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

a {
  text-decoration: none;
  color: #fff; }

.left-top p {
  margin: 20px 0 0 20px;
  color: #fff; }

.tiny-box .hMain {
  padding-top: 30px;
  line-height: 1.5;
  font-size: 33px;
  color: #fff; }

.article h2,
.article_container a {
  color: black;
  font-size: 25px; }

.article_container p {
  color: #474444; }

.article-a {
  color: #111;
  text-decoration: underline; }

.article_banner a {
  font-size: 30px;
  color: #030303; }

.explore-btn a {
  color: #006fc6;
  font-size: 16px; }

.article h2,
.article_container h2 {
  color: #111;
  font-size: 25px; }

.article p {
  font-size: 20px;
  line-height: 1.7;
  padding-top: 15px; }

.third-block h2 {
  color: #fff;
  text-decoration: underline; }

.banner-second {
  background-color: #009245;
  text-align: center;
  padding: 40px; }

.third-block p {
  color: #fff; }

.explore-btn a {
  color: #006fc6;
  text-decoration: none; }

.left_block p,
.left-block p {
  color: #111;
  font-size: 19px;
  padding: 30px; }

.right_block p {
  font-size: 20px;
  line-height: 1.7; }

.right_block h2 {
  font-size: 40px;
  line-height: 1.7;
  padding: 30px;
  margin: 10px; }

.second_person h3,
.third_person h3,
.forth_person h3,
.fifth_person h3,
.sixth_person h3,
.seventh_person h3 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #111; }

a.load_more_link {
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  border-bottom: 5px solid #d33a2c;
  letter-spacing: 1px;
  padding: 10px 0;
  cursor: pointer; }

.book-left h3,
.banner-second h3 {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase; }

.second_person p,
.third_person p,
.forth_person p,
.fifth_person p,
.sixth_person p,
.seventh_person p {
  font-size: 22px;
  line-height: 1.7;
  color: #333; }

.book-left p,
.banner-second p {
  color: white;
  font-size: 22px;
  line-height: 1.7; }

.guide ul,
.news-right ul {
  margin: 40px;
  list-style-type: disc;
  color: #d33a2c; }

.guide h3,
.news-right h3,
.news-left h3 {
  font-size: 30px;
  font-weight: bold; }

.guide h3,
.news-right h3 {
  color: #111; }

.guide a,
.news-right a {
  text-decoration: underline;
  font-size: 22px;
  color: #006fc6; }

.news-left p {
  color: #fff; }

.list2 li,
.quality-footer a {
  text-decoration: underline;
  color: #fff; }

.links-footer h3 {
  text-align: center;
  color: white;
  padding: 30px; }

.list,
.list2 {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0; }

.list li {
  display: inline-block;
  padding-top: 10px;
  font-size: 25px;
  line-height: 1.7; }

.links-footer li:before {
  content: '•';
  margin-right: 0.5em;
  font-size: 20px;
  color: #b13125; }

.list li a:hover {
  text-decoration: underline;
  color: #b13125;
  text-decoration: none; }

.list2 li {
  display: inline-block;
  line-height: 3; }

.list2 li::before {
  content: '';
  margin-right: 2em; }

.quality-footer h2,
h3,
h4 {
  text-align: center;
  line-height: 1.7;
  color: #fff; }

.footer-ital {
  font-style: italic;
  color: #fff; }

@media (min-width: 425px) {
  .col-small-1 {
    width: 8.33333%;
    float: left; }
  .col-small-2 {
    width: 16.66667%;
    float: left; }
  .col-small-3 {
    width: 25%;
    float: left; }
  .col-small-4 {
    width: 33.33333%;
    float: left; }
  .col-small-5 {
    width: 41.66667%;
    float: left; }
  .col-small-6 {
    width: 50%;
    float: left; }
  .col-small-7 {
    width: 58.33333%;
    float: left; }
  .col-small-8 {
    width: 66.66667%;
    float: left; }
  .col-small-9 {
    width: 75%;
    float: left; }
  .col-small-10 {
    width: 83.33333%;
    float: left; }
  .col-small-11 {
    width: 91.66667%;
    float: left; }
  .col-small-12 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%;
    float: left; }
  .col-medium-2 {
    width: 16.66667%;
    float: left; }
  .col-medium-3 {
    width: 25%;
    float: left; }
  .col-medium-4 {
    width: 33.33333%;
    float: left; }
  .col-medium-5 {
    width: 41.66667%;
    float: left; }
  .col-medium-6 {
    width: 50%;
    float: left; }
  .col-medium-7 {
    width: 58.33333%;
    float: left; }
  .col-medium-8 {
    width: 66.66667%;
    float: left; }
  .col-medium-9 {
    width: 75%;
    float: left; }
  .col-medium-10 {
    width: 83.33333%;
    float: left; }
  .col-medium-11 {
    width: 91.66667%;
    float: left; }
  .col-medium-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%;
    float: left; }
  .col-large-2 {
    width: 16.66667%;
    float: left; }
  .col-large-3 {
    width: 25%;
    float: left; }
  .col-large-4 {
    width: 33.33333%;
    float: left; }
  .col-large-5 {
    width: 41.66667%;
    float: left; }
  .col-large-6 {
    width: 50%;
    float: left; }
  .col-large-7 {
    width: 58.33333%;
    float: left; }
  .col-large-8 {
    width: 66.66667%;
    float: left; }
  .col-large-9 {
    width: 75%;
    float: left; }
  .col-large-10 {
    width: 83.33333%;
    float: left; }
  .col-large-11 {
    width: 91.66667%;
    float: left; }
  .col-large-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .col-huge-1 {
    width: 8.33333%;
    float: left; }
  .col-huge-2 {
    width: 16.66667%;
    float: left; }
  .col-huge-3 {
    width: 25%;
    float: left; }
  .col-huge-4 {
    width: 33.33333%;
    float: left; }
  .col-huge-5 {
    width: 41.66667%;
    float: left; }
  .col-huge-6 {
    width: 50%;
    float: left; }
  .col-huge-7 {
    width: 58.33333%;
    float: left; }
  .col-huge-8 {
    width: 66.66667%;
    float: left; }
  .col-huge-9 {
    width: 75%;
    float: left; }
  .col-huge-10 {
    width: 83.33333%;
    float: left; }
  .col-huge-11 {
    width: 91.66667%;
    float: left; }
  .col-huge-12 {
    width: 100%;
    float: left; } }

.row:after {
  content: "";
  display: block;
  clear: both; }

.row:before {
  content: "";
  display: block;
  clear: both; }

.main_header {
  width: 100%;
  background: #d33a2c;
  height: 150px; }

.header_container {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo {
  display: block;
  width: 60px;
  height: 80px;
  margin: auto; }

.nav_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: font-size(17px);
  font-weight: 700;
  margin-right: 10px; }

figure:hover,
.nav_menu_item_h2:hover,
figcaption:hover > p {
  color: #390c09; }

.nav_menu_icon img {
  margin-right: 32px;
  margin-bottom: 10px; }

.nav_menu_item_h2 span {
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }

.main-nav_item_p {
  font-style: italic;
  padding-top: 6px;
  font-size: 14px;
  font-weight: 200; }

.margin-top-sm-1rem {
  margin-top: 0remrem; }

.padding-top-sm-1rem {
  padding-top: 0rempx; }

.margin-top-md-1rem {
  margin-top: 0rempx; }

.padding-top-md-1rem {
  padding-top: 0rempx; }

.margin-top-lg-1rem {
  margin-top: 1rempx; }

.padding-top-lg-1rem {
  padding-top: 1rempx; }

.margin-bottom-sm-1rem {
  margin-bottom: 0remrem; }

.padding-bottom-sm-1rem {
  padding-bottom: 0rempx; }

.margin-bottom-md-1rem {
  margin-bottom: 0rempx; }

.padding-bottom-md-1rem {
  padding-bottom: 0rempx; }

.margin-bottom-lg-1rem {
  margin-bottom: 1rempx; }

.padding-bottom-lg-1rem {
  padding-bottom: 1rempx; }

.margin-left-sm-1rem {
  margin-left: 0remrem; }

.padding-left-sm-1rem {
  padding-left: 0rempx; }

.margin-left-md-1rem {
  margin-left: 0rempx; }

.padding-left-md-1rem {
  padding-left: 0rempx; }

.margin-left-lg-1rem {
  margin-left: 1rempx; }

.padding-left-lg-1rem {
  padding-left: 1rempx; }

.margin-right-sm-1rem {
  margin-right: 0remrem; }

.padding-right-sm-1rem {
  padding-right: 0rempx; }

.margin-right-md-1rem {
  margin-right: 0rempx; }

.padding-right-md-1rem {
  padding-right: 0rempx; }

.margin-right-lg-1rem {
  margin-right: 1rempx; }

.padding-right-lg-1rem {
  padding-right: 1rempx; }

.margin-top-sm-1rem {
  margin-top: 0remrem; }

.padding-top-sm-1rem {
  padding-top: 0rempx; }

.margin-top-md-1rem {
  margin-top: 0rempx; }

.padding-top-md-1rem {
  padding-top: 0rempx; }

.margin-top-lg-1rem {
  margin-top: 1rempx; }

.padding-top-lg-1rem {
  padding-top: 1rempx; }

.margin-bottom-sm-1rem {
  margin-bottom: 0remrem; }

.padding-bottom-sm-1rem {
  padding-bottom: 0rempx; }

.margin-bottom-md-1rem {
  margin-bottom: 0rempx; }

.padding-bottom-md-1rem {
  padding-bottom: 0rempx; }

.margin-bottom-lg-1rem {
  margin-bottom: 1rempx; }

.padding-bottom-lg-1rem {
  padding-bottom: 1rempx; }

.margin-left-sm-1rem {
  margin-left: 0remrem; }

.padding-left-sm-1rem {
  padding-left: 0rempx; }

.margin-left-md-1rem {
  margin-left: 0rempx; }

.padding-left-md-1rem {
  padding-left: 0rempx; }

.margin-left-lg-1rem {
  margin-left: 1rempx; }

.padding-left-lg-1rem {
  padding-left: 1rempx; }

.margin-right-sm-1rem {
  margin-right: 0remrem; }

.padding-right-sm-1rem {
  padding-right: 0rempx; }

.margin-right-md-1rem {
  margin-right: 0rempx; }

.padding-right-md-1rem {
  padding-right: 0rempx; }

.margin-right-lg-1rem {
  margin-right: 1rempx; }

.padding-right-lg-1rem {
  padding-right: 1rempx; }

.right-float {
  float: right !important; }

.left-float {
  float: left !important; }

.none-float {
  float: none !important; }

.position-absolute {
  position: absolute !important; }

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important; }

.position-fixed {
  position: fixed !important; }

.position-relative {
  position: relative !important; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.display-md-none {
  display: none !important; }

.display-inline {
  display: inline !important; }

.display-inline-block {
  display: inline-block !important; }

.display-block {
  display: block !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: end !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: start !important; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

.text-transform-uppercase {
  text-transform: uppercase; }

.text-transform-lowercase {
  text-transform: lowercase; }

.text-transform-capitalize {
  text-transform: capitalize; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4,
p,
span {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.6rem; }

.font-bold {
  font-weight: bold; }

.font-normal {
  font-weight: normal; }

.font-medium {
  font-weight: 500; }

.border-0 {
  border: 0 !important; }

.border-top-0 {
  border-top: 0 !important; }

.border-right-0 {
  border-right: 0 !important; }

.border-bottom-0 {
  border-bottom: 0 !important; }

.border-left-0 {
  border-left: 0 !important; }

.border-sm-1 {
  border: 1px solid #d33a2c; }

.border-sm-left-1 {
  border-left: 1px solid #d33a2c; }

.border-sm-right-1 {
  border-right: 1px solid #d33a2c; }

.border-sm-top-1 {
  border-top: 1px solid #d33a2c; }

.border-sm-bottom-1 {
  border-bottom: 1px solid #d33a2c; }

.border-md-2 {
  border: 2px solid #d33a2c; }

.border-md-left-2 {
  border-left: 2px solid #d33a2c; }

.border-md-right-2 {
  border-right: 1px solid #d33a2c; }

.border-md-top-2 {
  border-top: 1px solid #d33a2c; }

.border-md-bottom-2 {
  border-bottom: 2px solid #d33a2c; }

.border-ld-5 {
  border: 5px solid #d33a2c; }

.border-ld-left-5 {
  border-left: 5px solid #d33a2c; }

.border-ld-right-5 {
  border-right: 5px solid #d33a2c; }

.border-ld-top-5 {
  border-top: 1px solid #d33a2c; }

.border-ld-bottom-5 {
  border-bottom: 5px solid #d33a2c; }

.border-radius-sm {
  border-radius: .25rem; }

.border-radius-md {
  border-radius: .5rem; }

.border-radius-lg {
  border-radius: 1rem; }

.border-rounder {
  border-radius: 50%; }

.main-bg {
  background: #f6f3f2; }

.text-color {
  color: #111; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lora", serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f3f2; }

section {
  display: block;
  background: #f6f3f2; }

.first-block {
  width: 100%; }

.box {
  background-color: #f6f3f2;
  padding: 10px; }

.top-text {
  position: absolute;
  top: 205px;
  z-index: 1;
  margin: auto;
  letter-spacing: 1px; }

.bottom-text {
  position: absolute;
  top: 240px;
  margin: auto;
  letter-spacing: -1px; }

.tiny-box {
  padding: 200px 64px 148px 64px; }

.tiny-box:nth-child(1) {
  background-color: #bc3428; }

.tiny-box:nth-child(2) {
  background-color: #c7372a; }

.tiny-box:nth-child(3) {
  background-color: #b13125; }

.tiny-box:nth-child(4) {
  background-color: #bc3428; }

.tiny-box i:after,
.articles-box i:after {
  content: '→';
  display: block;
  padding: 0;
  position: absolute; }

.tiny-box i:after {
  color: #fff;
  font-size: 70px; }

.articles-box i:after {
  color: #d33a2c;
  font-size: 70px; }

.article {
  padding: 20px 20px 150px 20px; }

.first-article {
  background-color: #f6f3f2; }

.second-article {
  background-color: #f6f3f2; }

.third-article {
  background-color: #f6f3f2; }

.left-block {
  margin: 60px 25px 0 25px;
  text-align: center; }

/*======START EXPLORE=======*/
.third-block {
  margin: auto;
  border-radius: 5px;
  background-color: #f6f3f2; }

.left_block {
  height: 300px;
  background-color: #f6f3f2;
  margin: 60px 25px 0 25px;
  border-radius: 12px;
  text-align: center; }

.right_block {
  height: 500px;
  background-color: #d33a2c;
  border-radius: 12px;
  text-align: center;
  margin: 15px; }

/*======END EXPLORE=========*/
/*======START article-container and article-banner======*/
.forth_block {
  margin: auto;
  background-color: #f6f3f2; }

.article_container {
  padding-top: 40px; }

/*===banner second ==*/
.banner {
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #009245), to(#8bc53f));
  background-image: -webkit-linear-gradient(#009245 50%, #8bc53f 100%);
  background-image: -o-linear-gradient(#009245 50%, #8bc53f 100%);
  background-image: linear-gradient(#009245 50%, #8bc53f 100%); }

/*======END article-container and article-banner ========*/
/*======START PERSON OF THE WEEK ========*/
.person-of-the-week {
  margin: auto;
  border-radius: 15px;
  background-color: #f6f3f2; }

.second_person h3,
.book-left h3,
.banner-second h3,
.third_person h3,
.forth_person h3,
.fifth_person h3,
.sixth_person h3,
.seventh_person h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.first_person,
.second_person {
  padding: 50px; }

.second_person h3 {
  padding-bottom: 20px; }

.first_person img {
  width: 250px;
  border-radius: 8px;
  border: 5px solid #d33a2c;
  margin: 22px 0 0 10px; }

.person {
  padding: 50px 35px; }

.left-top img,
.persons_photo img {
  max-width: 76px;
  border: 4px solid #fff;
  border-radius: 10px; }

/*======END PERSON OF THE WEEK ========*/
/*===== START load more section====*/
a.load_more_link:after {
  content: ' → '; }

.load_more {
  background-color: #f6f3f2;
  height: 200px;
  text-align: center;
  padding: 80px 0 80px; }

a.load_more_link {
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  letter-spacing: 1px;
  padding: 10px 0;
  cursor: pointer; }

/*=====START BOOK======*/
.featured-smashing-book {
  background: #d33a2c; }

.book-left {
  padding: 50px; }

.book-right {
  padding-bottom: 30px; }

.book-right img {
  height: 400px;
  width: 250px;
  padding-bottom: 30px; }

/*=====END BOOK========*/
/*===== START guides =====*/
.guide {
  padding: 30px; }

.guide li {
  margin-bottom: 18px;
  margin-left: 80px; }

/*===== END guides ========*/
/*===== START newsletter =====*/
.newsletter section {
  background-color: #d33a2c; }

.news-left {
  margin-top: 50px;
  text-align: center;
  height: 620px;
  padding: 50px;
  text-align: center;
  background-color: #d33a2c;
  border-radius: 12px; }

.news-left img {
  width: 300px;
  height: 300px; }

.news-right {
  padding-left: 20px; }

/*===== END newsletter =====*/
/*===== START footer ===============*/
.links-footer {
  background-color: #d33a2c;
  padding: 100px;
  padding-top: 25px; }

.quality-footer,
.contact-footer {
  background-color: #d33a2c;
  padding: 50px; }

.contact-footer {
  background-image: url("https://www.smashingmagazine.com/images/footer/laptop__left.svg"), url("https://www.smashingmagazine.com/images/smashing-cat/cat-the-behemoth.svg");
  background-repeat: no-repeat;
  background-position: left 15% bottom 16px, right 12% bottom 32px;
  background-size: 160px auto, 224px auto; }

@media only screen and (max-width: 1400px) {
  .top-text {
    left: 595px; }
  .bottom-text {
    left: 660px; } }

@media only screen and (max-width: 1200px) {
  .top-text {
    left: 535px; }
  .bottom-text {
    left: 600px; } }

@media only screen and (max-width: 1024px) {
  .top-text {
    left: 417px; }
  .bottom-text {
    left: 477px; }
  .main-nav_item_p {
    display: none; } }

@media only screen and (max-width: 900px) {
  .nav_menu_list {
    display: none;
    opacity: 0; }
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 60px;
    height: 80px;
    margin: auto; }
  .contact-footer {
    background-position: left 3% bottom 0px, right 0% bottom 6px;
    background-size: 129px auto, 160px auto; } }

@media only screen and (max-width: 768px) {
  .bottom-text {
    left: 350px; }
  .top-text {
    left: 280px; }
  .contact-footer {
    background-position: left 3% bottom 0px, right 0% bottom 6px;
    background-size: 129px auto, 160px auto; } }

@media only screen and (max-width: 525px) {
  .top-text {
    left: 109px; }
  .bottom-text {
    left: 176px; }
  .nav_menu_list {
    display: none;
    opacity: 0; }
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .first_person img {
    width: 190px; }
  .tiny-box .hMain {
    font-size: 30px; }
  .book-right img {
    height: 377px;
    width: 216px;
    padding-bottom: 30px;
    margin-left: 78px; }
  .list li {
    font-size: 16px; }
  .contact-footer {
    background-position: left -5% bottom 0px, right 0% bottom 6px;
    background-size: 98px auto, 116px auto; } }

@media only screen and (max-width: 320px) {
  .book-right img {
    height: 300px;
    width: 200px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-left: 30px; }
  .nav_menu_list {
    display: none;
    opacity: 0; }
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 60px;
    height: 80px;
    margin: auto; }
  .top-text {
    left: 65px; }
  .bottom-text {
    left: 131px; } }
