@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav_menu_icon img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  max-width: 30px; }

.nav_menu_icon img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

@media (min-width: 425px) {
  .col-small-1 {
    width: 8.33333%;
    float: left; }
  .col-small-2 {
    width: 16.66667%;
    float: left; }
  .col-small-3 {
    width: 25%;
    float: left; }
  .col-small-4 {
    width: 33.33333%;
    float: left; }
  .col-small-5 {
    width: 41.66667%;
    float: left; }
  .col-small-6 {
    width: 50%;
    float: left; }
  .col-small-7 {
    width: 58.33333%;
    float: left; }
  .col-small-8 {
    width: 66.66667%;
    float: left; }
  .col-small-9 {
    width: 75%;
    float: left; }
  .col-small-10 {
    width: 83.33333%;
    float: left; }
  .col-small-11 {
    width: 91.66667%;
    float: left; }
  .col-small-12 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%;
    float: left; }
  .col-medium-2 {
    width: 16.66667%;
    float: left; }
  .col-medium-3 {
    width: 25%;
    float: left; }
  .col-medium-4 {
    width: 33.33333%;
    float: left; }
  .col-medium-5 {
    width: 41.66667%;
    float: left; }
  .col-medium-6 {
    width: 50%;
    float: left; }
  .col-medium-7 {
    width: 58.33333%;
    float: left; }
  .col-medium-8 {
    width: 66.66667%;
    float: left; }
  .col-medium-9 {
    width: 75%;
    float: left; }
  .col-medium-10 {
    width: 83.33333%;
    float: left; }
  .col-medium-11 {
    width: 91.66667%;
    float: left; }
  .col-medium-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%;
    float: left; }
  .col-large-2 {
    width: 16.66667%;
    float: left; }
  .col-large-3 {
    width: 25%;
    float: left; }
  .col-large-4 {
    width: 33.33333%;
    float: left; }
  .col-large-5 {
    width: 41.66667%;
    float: left; }
  .col-large-6 {
    width: 50%;
    float: left; }
  .col-large-7 {
    width: 58.33333%;
    float: left; }
  .col-large-8 {
    width: 66.66667%;
    float: left; }
  .col-large-9 {
    width: 75%;
    float: left; }
  .col-large-10 {
    width: 83.33333%;
    float: left; }
  .col-large-11 {
    width: 91.66667%;
    float: left; }
  .col-large-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .col-huge-1 {
    width: 8.33333%;
    float: left; }
  .col-huge-2 {
    width: 16.66667%;
    float: left; }
  .col-huge-3 {
    width: 25%;
    float: left; }
  .col-huge-4 {
    width: 33.33333%;
    float: left; }
  .col-huge-5 {
    width: 41.66667%;
    float: left; }
  .col-huge-6 {
    width: 50%;
    float: left; }
  .col-huge-7 {
    width: 58.33333%;
    float: left; }
  .col-huge-8 {
    width: 66.66667%;
    float: left; }
  .col-huge-9 {
    width: 75%;
    float: left; }
  .col-huge-10 {
    width: 83.33333%;
    float: left; }
  .col-huge-11 {
    width: 91.66667%;
    float: left; }
  .col-huge-12 {
    width: 100%;
    float: left; } }

.row:after {
  content: "";
  display: block;
  clear: both; }

.row:before {
  content: "";
  display: block;
  clear: both; }

.main_header {
  width: 100%;
  background: #d33a2c;
  height: 150px; }

.header_container {
  min-height: 150px; }

.logo {
  display: block;
  width: 60px;
  height: 80px;
  margin: auto; }

.nav_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700; }

figure:hover,
.nav_menu_item_h2:hover,
figcaption:hover > p {
  color: #390c09; }

.nav_menu_list li {
  width: 20%;
  padding: 20px; }

.nav_menu_item_h2 span {
  font-size: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }

.main_nav_item_p p {
  font-style: italic;
  font-size: 12px; }

.btn {
  font-size: 20px;
  color: white;
  margin: auto;
  background: transparent;
  border: 3px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: 11px 11px 11px 15px;
  font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

a {
  text-decoration: none;
  color: white; }

body {
  font-family: "Lora", serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f3f2; }

section {
  display: block;
  background: #f6f3f2; }

.first-block {
  width: 100%; }

.box {
  background-color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 10px; }

.top-text {
  position: absolute;
  top: 200px;
  left: 520px;
  z-index: 1;
  margin: auto;
  letter-spacing: 1px; }

.bottom-text {
  position: absolute;
  top: 240px;
  left: 610px;
  margin: auto;
  letter-spacing: -1px; }

.tiny-box {
  padding: 200px 64px 148px 64px;
  color: #fff;
  font-weight: bold;
  font-size: 25px; }

.tiny-box:nth-child(1) {
  background-color: #836666; }

.tiny-box:nth-child(2) {
  background-color: #574c4b; }

.tiny-box:nth-child(3) {
  background-color: #7e6e6d; }

.tiny-box:nth-child(4) {
  background-color: #3f3c3c; }

.left-top img,
.persons_photo img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  max-width: 76px;
  border: 4px solid white;
  border-radius: 10px; }

.left-top img:hover,
.persons_photo img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.left-top span {
  font-style: italic;
  font-weight: 400; }

.left-top p {
  margin: 20px 0 0 20px; }

.tiny-box h1 {
  padding-top: 30px;
  line-height: 1.5;
  font-size: 33px; }

.tiny-box i:after {
  content: '→';
  display: block;
  color: #fff;
  font-size: 70px;
  padding: 0;
  position: absolute; }

.article {
  padding: 20px 20px 150px 20px; }

.first-article {
  background-color: #9c8b74; }

.second-article {
  background-color: #778069; }

.third-article {
  background-color: #796f63; }

.article h2 {
  color: black;
  font-size: 25px; }

.article p {
  font-size: 20px;
  line-height: 1.7;
  padding-top: 15px; }

.left-block {
  margin: 60px 25px 0 25px;
  text-align: center; }
