@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav_menu_icon img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  max-width: 30px; }

.nav_menu_icon img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.left-top img,
.persons_photo img {
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  max-width: 76px;
  border: 4px solid white;
  border-radius: 10px; }

.left-top img:hover,
.persons_photo img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.btn {
  font-size: 20px;
  color: white;
  margin: auto;
  background: transparent;
  border: 3px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 5px 5px 5px;
  font-weight: bold;
  width: 110px; }

.article h2,
.article_container a {
  color: black;
  font-size: 25px; }

.article_container p {
  color: #474444; }

@media (min-width: 425px) {
  .col-small-1 {
    width: 8.33333%;
    float: left; }
  .col-small-2 {
    width: 16.66667%;
    float: left; }
  .col-small-3 {
    width: 25%;
    float: left; }
  .col-small-4 {
    width: 33.33333%;
    float: left; }
  .col-small-5 {
    width: 41.66667%;
    float: left; }
  .col-small-6 {
    width: 50%;
    float: left; }
  .col-small-7 {
    width: 58.33333%;
    float: left; }
  .col-small-8 {
    width: 66.66667%;
    float: left; }
  .col-small-9 {
    width: 75%;
    float: left; }
  .col-small-10 {
    width: 83.33333%;
    float: left; }
  .col-small-11 {
    width: 91.66667%;
    float: left; }
  .col-small-12 {
    width: 100%;
    float: left; } }

@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%;
    float: left; }
  .col-medium-2 {
    width: 16.66667%;
    float: left; }
  .col-medium-3 {
    width: 25%;
    float: left; }
  .col-medium-4 {
    width: 33.33333%;
    float: left; }
  .col-medium-5 {
    width: 41.66667%;
    float: left; }
  .col-medium-6 {
    width: 50%;
    float: left; }
  .col-medium-7 {
    width: 58.33333%;
    float: left; }
  .col-medium-8 {
    width: 66.66667%;
    float: left; }
  .col-medium-9 {
    width: 75%;
    float: left; }
  .col-medium-10 {
    width: 83.33333%;
    float: left; }
  .col-medium-11 {
    width: 91.66667%;
    float: left; }
  .col-medium-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%;
    float: left; }
  .col-large-2 {
    width: 16.66667%;
    float: left; }
  .col-large-3 {
    width: 25%;
    float: left; }
  .col-large-4 {
    width: 33.33333%;
    float: left; }
  .col-large-5 {
    width: 41.66667%;
    float: left; }
  .col-large-6 {
    width: 50%;
    float: left; }
  .col-large-7 {
    width: 58.33333%;
    float: left; }
  .col-large-8 {
    width: 66.66667%;
    float: left; }
  .col-large-9 {
    width: 75%;
    float: left; }
  .col-large-10 {
    width: 83.33333%;
    float: left; }
  .col-large-11 {
    width: 91.66667%;
    float: left; }
  .col-large-12 {
    width: 100%;
    float: left; } }

@media (min-width: 1200px) {
  .col-huge-1 {
    width: 8.33333%;
    float: left; }
  .col-huge-2 {
    width: 16.66667%;
    float: left; }
  .col-huge-3 {
    width: 25%;
    float: left; }
  .col-huge-4 {
    width: 33.33333%;
    float: left; }
  .col-huge-5 {
    width: 41.66667%;
    float: left; }
  .col-huge-6 {
    width: 50%;
    float: left; }
  .col-huge-7 {
    width: 58.33333%;
    float: left; }
  .col-huge-8 {
    width: 66.66667%;
    float: left; }
  .col-huge-9 {
    width: 75%;
    float: left; }
  .col-huge-10 {
    width: 83.33333%;
    float: left; }
  .col-huge-11 {
    width: 91.66667%;
    float: left; }
  .col-huge-12 {
    width: 100%;
    float: left; } }

.row:after {
  content: "";
  display: block;
  clear: both; }

.row:before {
  content: "";
  display: block;
  clear: both; }

.main_header {
  width: 100%;
  background: #d33a2c;
  height: 150px; }

.header_container {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo {
  display: block;
  width: 60px;
  height: 80px;
  margin: auto; }

.nav_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: font-size(17px);
  font-weight: 700; }

figure:hover,
.nav_menu_item_h2:hover,
figcaption:hover > p {
  color: #390c09; }

.nav_menu_icon img {
  margin-right: 32px;
  margin-bottom: 10px; }

.nav_menu_list {
  margin-right: 10px; }

.nav_menu_item_h2 span {
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }

.main-nav_item_p {
  font-style: italic;
  padding-top: 6px;
  font-size: 14px;
  font-weight: 200; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

a {
  text-decoration: none;
  color: white; }

body {
  font-family: "Lora", serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f3f2; }

section {
  display: block;
  background: #f6f3f2; }

.first-block {
  width: 100%; }

.box {
  background-color: #f6f3f2;
  font-weight: bold;
  font-size: font-size(18px);
  padding: 10px; }

.top-text {
  position: absolute;
  top: 200px;
  left: 520px;
  z-index: 1;
  margin: auto;
  letter-spacing: 1px; }

.bottom-text {
  position: absolute;
  top: 240px;
  left: 610px;
  margin: auto;
  letter-spacing: -1px; }

.tiny-box {
  padding: 200px 64px 148px 64px;
  color: #fff;
  font-weight: bold;
  font-size: font-size(20px); }

.tiny-box:nth-child(1) {
  background-color: #bc3428; }

.tiny-box:nth-child(2) {
  background-color: #c7372a; }

.tiny-box:nth-child(3) {
  background-color: #b13125; }

.tiny-box:nth-child(4) {
  background-color: #bc3428; }

.left-top span {
  font-style: italic;
  font-weight: 400; }

.left-top p {
  margin: 20px 0 0 20px; }

.tiny-box .hMain {
  padding-top: 30px;
  line-height: 1.5;
  font-size: font-size(33px); }

.tiny-box i:after {
  content: '→';
  display: block;
  color: #fff;
  font-size: 70px;
  padding: 0;
  position: absolute; }

.article {
  padding: 20px 20px 150px 20px; }

.first-article {
  background-color: #f6f3f2; }

.second-article {
  background-color: #f6f3f2; }

.third-article {
  background-color: #f6f3f2; }

.article-a {
  color: #111;
  text-decoration: underline; }

.article h2,
.article_container h2 {
  color: black;
  font-size: 25px; }

.article p {
  font-size: 20px;
  line-height: 1.7;
  padding-top: 15px; }

.left-block {
  margin: 60px 25px 0 25px;
  text-align: center; }

/*======START EXPLORE=======*/
.third-block {
  margin: auto;
  border-radius: 5px;
  background-color: #f6f3f2; }

.third-block h2 {
  color: #fff;
  text-decoration: underline; }

.third-block p {
  color: #fff; }

.explore-btn {
  background: #f6f3f2;
  padding: 15px 5px;
  width: 200px; }

.explore-btn a {
  color: #006fc6;
  text-decoration: none; }

.left_block {
  height: 300px;
  background-color: #f6f3f2;
  margin: 60px 25px 0 25px;
  border-radius: 12px;
  text-align: center; }

.right_block {
  height: 500px;
  background-color: #d33a2c;
  border-radius: 12px;
  text-align: center;
  margin: 15px; }

.left_block p,
.left-block p {
  color: #111;
  font-size: 19px;
  padding: 30px; }

.right_block p {
  font-size: 20px;
  line-height: 1.7; }

.right_block h2 {
  font-size: 40px;
  line-height: 1.7;
  padding: 30px;
  margin: 10px; }

.explore-btn {
  margin-top: 50px;
  background: white; }

/*======END EXPLORE=========*/
/*======START article-container and article-banner======*/
.forth_block {
  margin: auto;
  background-color: #f6f3f2; }

.article_container {
  padding-top: 40px; }

.article_banner a {
  font-size: 30px;
  color: #030303; }

.explore-btn a {
  color: #006fc6;
  font-size: 16px; }

.banner-second {
  background-color: #4f6e5e;
  text-align: center;
  padding: 40px 219px; }

.banner {
  background: url(https://d33wubrfki0l68.cloudfront.net/148069bc1849f0c7b2304c945073dbdfdb6341f0/b12bb/images/printed-mag/printmag-homepage-opt.svg) no-repeat;
  background-position: center;
  padding: 250px;
  background-color: grey; }

a.load_more_link {
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  border-bottom: 5px solid #d33a2c;
  letter-spacing: 1px;
  padding: 10px 0;
  cursor: pointer; }

/*======END article-container and article-banner ========*/
/*======START PERSON OF THE WEEK ========*/
.person-of-the-week {
  margin: auto;
  border-radius: 15px;
  background-color: #d8cdcd; }

.second_person h3,
.book-left h3,
.banner-second h3,
.third_person h3,
.forth_person h3,
.fifth_person h3,
.sixth_person h3,
.seventh_person h3 {
  font-size: 26px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-transform: uppercase;
  color: #2b261e; }

.second_person p,
.book-left p,
.banner-second p,
.third_person p,
.forth_person p,
.fifth_person p,
.sixth_person p,
.seventh_person p {
  font-size: 22px;
  line-height: 1.7;
  color: #333; }

.first_person,
.second_person {
  padding: 50px; }

.second_person h3 {
  padding-bottom: 20px; }

.first_person img {
  width: 250px;
  border-radius: 8px;
  border: 5px solid chocolate;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  margin: 22px 0 0 10px; }

.first_person img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.person {
  padding: 50px 35px; }

.person-of-the-week > :nth-child(2) {
  background-color: #857d7d; }

.person-of-the-week > :nth-child(3) {
  background-color: #645353; }

.person-of-the-week > :nth-child(3) {
  background-color: #b68c8c; }

/*======END PERSON OF THE WEEK ========*/
/*===== START load more section====*/
a.load_more_link:after {
  content: ' → '; }

.load_more {
  background-color: #a39d9d;
  height: 200px;
  text-align: center;
  padding: 80px 0 80px; }

a.load_more_link {
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  border-bottom: 5px solid #d33a2c;
  letter-spacing: 1px;
  padding: 10px 0;
  cursor: pointer; }

/*=====START BOOK======*/
.book-left {
  padding: 50px; }

.book-right {
  padding-bottom: 30px; }

.book-right img {
  height: 400px;
  width: 250px;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  padding-bottom: 30px; }

.book-right img:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

/*=====END BOOK========*/
/*===== START guides =====*/
.guide h3,
.news-right h3,
.news-left h3 {
  font-size: 30px;
  font-weight: bold; }

.guide {
  padding: 30px; }

.guide ul,
.news-right ul {
  margin: 40px; }

.guide a,
.news-right a {
  text-decoration: underline;
  color: blue;
  font-size: 20px;
  line-height: 1.5; }

/*===== END guides ========*/
/*===== START newsletter =====*/
.newsletter section {
  background-color: red; }

.news-left {
  padding: 30px;
  text-align: center; }

.news-left img {
  width: 200px;
  height: 200px; }

/*===== END newsletter =====*/
