*{
	box-sizing: border-box;
}
a,
span{
	display: inline-flex;
}
a{
	text-decoration: none;
	color: white;
}

body{
	font-family: $fontsMain;
	min-height: 100%;
	display: flex;
  flex-direction: column;
  background-color: $bg;
}
section{
	display: block;
    background: $bg;
}

// ==== first section =====
.first-block{
    width: 100%;
  }
  .box{
    background-color: $bg;
    font-weight: bold;
    font-size: font-size(18px);
    padding: $space;
  }
  .top-text{
    position: absolute;
    top: 200px;
    left: 520px;
    z-index: 1;
    margin: auto;
    letter-spacing: 1px;
  }
  .bottom-text{
    position: absolute;
    top: 240px;
    left: 610px;
    margin: auto;
    letter-spacing: -1px;
  }
  
  .tiny-box{
    padding: 200px 64px 148px 64px;
    color: #fff;
    font-weight: bold;
    font-size: font-size(20px);
  }
  .tiny-box:nth-child(1){
    background-color: $redMedium;
  }
  .tiny-box:nth-child(2){
    background-color: $redLight;
  }
  .tiny-box:nth-child(3){
    background-color: #b13125;
  }
  .tiny-box:nth-child(4){
    background-color: #bc3428;
  }
  
  .left-top{
    span{
        font-style: italic;
        font-weight: 400;
      }
  }
  .left-top{
    p{
        margin: 20px 0 0 20px;
      }
  }
  .tiny-box{
    .hMain{
        padding-top: $space * 3;
        line-height: 1.5;
        font-size: font-size(33px);
      }
  }
  .tiny-box{
    i:after{
        content: '→';
        display: block;
        color: #fff;
        font-size: 70px;
        padding: 0;
        position: absolute;
      }
  }

  // ====END first-section====

  // ====articles-box===

.article{
    padding: 20px 20px 150px 20px;
  }
  
  .first-article {
    background-color:rgb(156, 139, 116);
  }
  
  .second-article {
    background-color: rgb(119, 128, 105);
  }
  
  .third-article {
    background-color: rgb(121, 111, 99);
  }
  
  
  .article h2{
    color: black;
    font-size: 25px;
  }
  
  .article p {
    font-size: 20px;
    line-height: 1.7;
    padding-top: 15px;
  }
  
  .left-block{
    margin: 60px 25px 0 25px;
    text-align: center;
  }

  /*======START EXPLORE=======*/

.third-block{
  margin: auto;
  border-radius: 5px;
  background-color: $bg;
  border: 1px solid brown;
}
.left_block {
  height: 300px;
  background-color: $bg;
  margin: 60px 25px 0 25px;
  border-radius: 12px;
  text-align: center;
}

.right_block {
  height: 500px;
  background-color: rgb(71, 61, 42);
  border-radius: 12px;
  text-align: center;
  margin: 15px;
}

.left_block p ,
.left-block p{
  font-size: 19px;
  padding: 30px;
}

.right_block p {
  font-size: 20px;
  line-height: 1.7;
}

.right_block h2 {
  font-size: 40px;
  line-height: 1.7;
  padding: 30px;
  margin: 10px;
}
.explore-btn {
margin-top: 50px;
}

/*======END EXPLORE=========*/

/*======START article-container and article-banner======*/

.forth_block {
  margin: auto;
  border-radius: 20px;
  background-color: #928787;
}

.article_container{
  
  padding-top: 40px;
}

.article_banner a {
  font-size: 30px;
  color: rgb(3, 3, 3);
}

.banner-second{
  background-color: #4f6e5e;
    text-align: center;
    padding: 40px 219px;
}
.banner{
  background: url(https://d33wubrfki0l68.cloudfront.net/148069bc1849f0c7b2304c945073dbdfdb6341f0/b12bb/images/printed-mag/printmag-homepage-opt.svg) no-repeat;
  background-position: center;
  padding: 250px;
  background-color: grey;
}
/*======END article-container and article-banner ========*/